Repository Manotomo-Alliance-Support-Squad/holo-valentine-2021, pull requests merged in 2021-02, with the labels that each got.

#18 Refactor base card, base section, and art stuffs
  frontend/src/components/announcementSection/announcementCard.tsx
  frontend/src/components/gallery/artworkCard/artworkCard.css
  frontend/src/components/gallery/artworkCard/artworkCard.tsx
  frontend/src/components/gallery/gallerySection.css
  frontend/src/components/gallery/gallerySection.tsx
  frontend/src/components/gamesSection/gameCard/gameCard.tsx
  frontend/src/components/headerSection/header.tsx
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/components/messageSection/messageSection.tsx
  frontend/src/pages/home/home.tsx
  frontend/src/shared/components/baseCard/baseCard.tsx
  frontend/src/shared/components/baseSection/baseSection.tsx
Labels: help wanted

#24 Cleanup home end message
  frontend/src/pages/artia/artia.css
  frontend/src/pages/artia/artia.tsx
  frontend/src/pages/civia/civia.css
  frontend/src/pages/civia/civia.tsx
  frontend/src/pages/doris/doris.css
  frontend/src/pages/doris/doris.tsx
  frontend/src/pages/home/home.tsx
  frontend/src/pages/rosalyn/rosalyn.css
  frontend/src/pages/rosalyn/rosalyn.tsx
  frontend/src/pages/spade_echo/spade_echo.css
  frontend/src/pages/spade_echo/spade_echo.tsx
  frontend/src/pages/yogiri/yogiri.css
  frontend/src/pages/yogiri/yogiri.tsx
Labels: frontend

#25 re-introduced the global transleet botan
  frontend/src/components/navigation/navbar.tsx
Labels: frontend

#29 Fix duplicate checking
  backend/main/server/resources/Message.py
Labels: backend

#30 changed some stuff for ansible and systemd
  ansible/hosts/hosts.yml
  ansible/playbooks/holosite.yml
  ansible/vars/vars.yml
  systemd/valentine.service
Labels: backend

#32 added contact info and spacing at bottom of page
  frontend/src/pages/home/home.tsx
Labels: frontend
